<%= form_tag("movies/search", method: "get") do %>
<p>Search for a movie: </p>
  <div>
    <%= label_tag(:search_term, "Search term") %><br>
    <%= text_field_tag(:search_term) %>
  </div>
  <div>
    <%= submit_tag "Submit" %> 
  </div>
<% end %>